transition()
	-webkit-transition arguments
	-moz-transition arguments
	-ms-transition arguments
	-o-transition arguments
	transition arguments

box-sizing()
	-webkit-box-sizing arguments
	-moz-box-sizing arguments
	box-sizing arguments

border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	-ms-border-radius arguments
	-o-border-radius arguments
	border-radius arguments

box-shadow()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	-ms-box-shadow arguments
	-o-box-shadow arguments
	box-shadow arguments

transform()
	-webkit-transform arguments
	-moz-transform arguments
	-ms-transform arguments
	-o-transform arguments
	transform arguments

animation()
	-webkit-animation arguments
	-moz-animation arguments
	-ms-animation arguments
	-o-animation arguments
	animation arguments

opacity(n)
	opacity n
	if support-for-ie
		filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')

color_azul = blue


a:hover
	text-decoration none

body
	font-size 16px
	background-color white
	font-family 'bebas_neueregular'
.container
	margin 0 auto
	text-align center
	max-width 1023px
	padding 0
	margin-bottom 10px
	& header.encabezado
		& .logo
			text-align center
		& nav
			width 100%
			height 50px
			background-color white
			box-sizing border-box
			margin-top 10px
			border-bottom 1px solid grey
			border-top 1px solid #f00
			& ul.menu
				text-align center
				padding 0
				margin 0
				height 50px
				& li
					list-style none
					height 50px
					line-height 50px
					width 13%
					display inline-block
					vertical-align top
					position relative
					top 1px
					border-right 1px solid grey
					& a
						color grey
						display block
						font-size 22px
				& li.active
				& li:hover
					border-bottom 2px solid red
					& a
						color red
				& li.maldivino-express
					width 15%
				& li:last-child
					border-right none
		& ul.categorias
			padding 10px
			margin 10px 0px 10px
			background url('../images/keyarts/fondofooter.png') repeat-y
			& li.categoria
				list-style none
				padding 5px
				width 10%
				display inline-block 
				vertical-align top
				text-align center
				border 1px solid red
				transition all 1s ease
				& a
					color white
			& li.categoria.active
			& li.categoria:hover
				border 1px solid white
				
	& > footer
		height 50px
		background url('../images/keyarts/fondofooter.png') repeat-y
		& p
			height 50px
			line-height 50px
			color white
	& .slidePrincipal
		margin 10px 0px
	& article.anuncios
		margin 10px 5px
		height 50px
		width 100%
		& #anuncios
			height 50px
			text-align center
	& article.promociones
		margin 10px 5px
		& .promocion
			margin 10px 0px
		& img 
			border 5px solid white
			box-shadow 0 0 3px 1px #BDBDBD
		& .descripcion
			font-size 24px
			margin-top 5px
			color grey
	& article.quienessomos
		margin 10px 0px
		& p
			font-family 'futura_lt_btlight'
	& article.servicios
		margin 10px 0px
		& h2
			font-family 'bebas_neueregular'
			color grey
			text-align left
			padding-left 10px
		& ul.servicios
			padding 0
			margin 0
			& li.servicio
				width 100%
				text-align left
				overflow hidden
				margin-top 10px
				list-style none
				& .logo
					float left
					width 200px
				& .contenido
					float right
					width 800px
					& h3
						font-family 'bebas_neueregular'
						color red
						margin-top 0px
					& p
						font-family 'futura_lt_btlight'
	& article.productos
		margin 10px 0px
		& h2
			font-family 'bebas_neueregular'
			color grey
			text-align left
			padding-left 10px
		& ul.productos
			padding 0
			margin 0
			& li.producto
				list-style none
				border-bottom 1px solid transparent
				width 32%
				display inline-block
				vertical-align top
				box-sizing border-box
				padding 0px 20px
				margin 0px 0px 10px
				& h3.titulo
					font-family 'bebas_neueregular'
					padding-left none
					font-size 22px
					color grey
					text-align center
					margin 5px 0px 10px
				& span.precio
					font-family 'futura_lt_btlight'
					color red
					display block
					text-align center
					font-size 20px
				& img
					box-shadow 0 0 3px 2px grey
	& article.maldivinoExpress
		margin 10px 0px
		& p
			font-family 'futura_lt_btlight'
