a:hover {
  text-decoration: none;
}
body {
  font-size: 16px;
  background-color: #fff;
  font-family: 'antipastoregular';
}
.container {
  margin: 0 auto;
  text-align: center;
  max-width: 1023px;
  padding: 0;
  margin-bottom: 10px;
}
.container header.encabezado .logo {
  text-align: center;
}
.container header.encabezado nav {
  width: 100%;
  height: 50px;
  background-color: #fff;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.container header.encabezado nav ul.menu {
  text-align: center;
  padding: 0;
  margin: 0;
  height: 50px;
}
.container header.encabezado nav ul.menu li {
  border-bottom: 1px solid #808080;
  border-right: 1px solid #808080;
  list-style: none;
}
.container header.encabezado nav ul.menu li a {
  color: #808080;
  display: block;
  padding: 5px 10px;
}
.container > footer {
  height: 50px;
  background: url("../images/keyarts/fondofooter.png") repeat-y;
}
.container > footer p {
  height: 50px;
  line-height: 50px;
  color: #fff;
}
.container .cotizador-promociones {
  margin: 10px 0px;
  overflow: hidden;
}
.container .nosotros {
  margin: 10px 0px;
  overflow: hidden;
  text-align: left;
}
.container .nosotros p {
  text-align: justify;
}
.container .nosotros h3 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}
.container .nosotros h3.azul {
  color: #00f;
}
.container .nosotros ul.mision-vision-valores {
  margin: 20px 0px 0px;
  padding: 0px;
  overflow: hidden;
}
.container .nosotros ul.mision-vision-valores li {
  float: left;
  width: 33%;
  list-style: none;
  border-left: 1px solid #c0c0c0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px 10px;
  text-align: center;
}
.container .nosotros ul.mision-vision-valores li:nth-child(1) {
  border-left: none;
}
.container .nosotros ul.mision-vision-valores img.redonda {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.container .destinos-eventos-tours {
  margin: 10px 0px;
  overflow: hidden;
  text-align: left;
  background-color: transparent;
  position: relative;
  top: -70px;
  color: #00f;
}
.container .destinos-eventos-tours h2 {
  text-transform: uppercase;
  font-size: 44px;
  margin: 15px 0px 30px 10px;
}
.container .destinos-eventos-tours .destinos figure,
.container .destinos-eventos-tours .eventos figure,
.container .destinos-eventos-tours .tours figure {
  position: relative;
}
.container .destinos-eventos-tours .destinos figure span.precio,
.container .destinos-eventos-tours .eventos figure span.precio,
.container .destinos-eventos-tours .tours figure span.precio {
  padding: 5px 10px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 2px 2px 3px #000;
  -moz-box-shadow: 2px 2px 3px #000;
  -ms-box-shadow: 2px 2px 3px #000;
  -o-box-shadow: 2px 2px 3px #000;
  box-shadow: 2px 2px 3px #000;
  position: absolute;
  bottom: 10px;
  right: 20px;
  z-index: 2000;
  color: #fff;
  text-shadow: 1px 1px 1px #00f;
}
.container .destinos-eventos-tours .destinos img,
.container .destinos-eventos-tours .eventos img,
.container .destinos-eventos-tours .tours img {
  width: 100%;
  border: 2px solid #0ff;
}
.container .destinos-eventos-tours .destinos h3,
.container .destinos-eventos-tours .eventos h3,
.container .destinos-eventos-tours .tours h3 {
  margin: 15px 0px 5px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}
.container .destinos-eventos-tours .destinos h4,
.container .destinos-eventos-tours .eventos h4,
.container .destinos-eventos-tours .tours h4 {
  margin: 5px 0px 5px;
  color: #0ff;
  font-size: 16px;
  font-weight: bold;
}
.container .destinos-eventos-tours .destino,
.container .destinos-eventos-tours .evento,
.container .destinos-eventos-tours .tour {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container .servicios {
  margin: 10px 0px;
  overflow: hidden;
  text-align: left;
  background-color: transparent;
  position: relative;
  top: -70px;
  color: #00f;
  font-family: 'antipastoregular';
}
.container .servicios p {
  text-align: justify;
}
.container .servicios h3 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}
.container .servicios h3.azul {
  color: #00f;
}
.container .servicios .galeria {
  position: relative;
}
.container .servicios .galeria #slider-prev .bx-prev {
  background: url("../images/keyarts/autobuses/anterior.png") no-repeat center center;
  width: 28px;
  height: 197px;
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  z-index: 2000;
}
.container .servicios .galeria #slider-next .bx-next {
  background: url("../images/keyarts/autobuses/sig.png") no-repeat center center;
  width: 28px;
  height: 197px;
  position: absolute;
  top: 0px;
  right: 0px;
  display: block;
  z-index: 2000;
}
.container .servicios .logistica {
  margin-left: 10px;
}
.container .servicios .logistica h4 {
  margin: 5px 0px;
  line-height: 14px;
  font-size: 16px;
  color: #0ff;
}
.container .servicios .logistica p {
  line-height: 14px;
}
.container .cotizador {
  margin: 10px 0px;
  overflow: hidden;
  text-align: left;
  background-color: transparent;
  position: relative;
  top: -70px;
  color: #00f;
  font-family: 'antipastoregular';
}
.container .contacto {
  margin: 10px 0px;
  overflow: hidden;
  background-color: transparent;
  position: relative;
  top: -70px;
  color: #00f;
  font-family: 'antipastoregular';
}
.container .contacto h3 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}
.container .contacto h3.centrado {
  text-align: center;
}
.container .contacto iframe {
  width: 100%;
  height: 400px;
}
.container .contacto form {
  text-align: left;
}
.container .contacto .mapa {
  margin-bottom: 10px;
}
.container article.autobuses {
  margin: 10px 0px;
  overflow: hidden;
  text-align: left;
  background-color: transparent;
  position: relative;
  top: -70px;
  color: #00f;
  font-family: 'antipastoregular';
}
.container article.autobuses .lista {
  overflow: hidden;
}
.container article.autobuses .lista .item {
  display: inline-block;
  vertical-align: top;
  width: 329px;
  height: 200px;
  margin: 0px 5px 20px 5px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.container article.autobuses .lista .item img {
  width: 100%;
  height: 200px;
}
.container article.autobuses .lista .item figure {
  position: absolute;
  top: 0px;
  left: 0px;
}
.container article.autobuses .lista .item .descripcion-autobus {
  position: absolute;
  bottom: -150px;
  left: 0px;
  height: 150px;
  background: #002543;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.container article.autobuses .lista .item .descripcion-autobus h3 {
  position: absolute;
  left: -5px;
  top: -45px;
  background: rgba(11,47,75,0.8);
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 3px 10px;
  font-size: 18px;
}
.container article.autobuses .lista .item .descripcion-autobus p {
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px 10px;
}
.container article.autobuses .lista .item:hover .descripcion-autobus {
  bottom: -10px;
}
.container article.autobus {
  margin: 10px 0px;
  overflow: hidden;
  text-align: left;
  background-color: transparent;
  position: relative;
  top: -70px;
  color: #00f;
  font-family: 'antipastoregular';
}
.container article.autobus .controlesAutbuses {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
  overflow: hidden;
}
.container article.autobus .controlesAutbuses span {
  display: block;
  cursor: pointer;
  height: 54px;
  width: 54px;
}
.container article.autobus .controlesAutbuses .control-anterior {
  position: absolute;
  top: 0px;
  left: 0px;
  background: url("../images/keyarts/autobuses/flecha1.png") no-repeat center center;
}
.container article.autobus .controlesAutbuses .control-siguiente {
  background: url("../images/keyarts/autobuses/flecha2.png") no-repeat top right;
  position: absolute;
  top: 0px;
  right: 0px;
  padding-right: 54px;
  background-color: #0b508c;
  width: 230px;
  color: #fff;
  line-height: 54px;
  font-size: 18px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 10px;
}
.container article.autobus .controlesAutbuses h2 {
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0px;
}
.container article.autobus .galeria {
  position: relative;
}
.container article.autobus .galeria #slider-prev .bx-prev {
  background: url("../images/keyarts/autobuses/anterior.png") no-repeat center center;
  width: 28px;
  height: 197px;
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  z-index: 2000;
}
.container article.autobus .galeria #slider-next .bx-next {
  background: url("../images/keyarts/autobuses/sig.png") no-repeat center center;
  width: 28px;
  height: 197px;
  position: absolute;
  top: 0px;
  right: 0px;
  display: block;
  z-index: 2000;
}
.container article.autobus .logos {
  margin: 30px 0px 10px;
  text-align: center;
}
.container article.autobus .logos img {
  display: inline-block;
  vertical-align: top;
}
.container article.autobus .detalles-asientos {
  margin-top: 20px;
}
.container article.autobus .detalles-asientos ul {
  padding: 0px;
  margin: 0px;
}
.container article.autobus .detalles-asientos div {
  width: 49%;
}
.container article.autobus .detalles-asientos div img {
  width: 100%;
}
.container article.autobus .detalles-asientos .detalles {
  background: url("../images/keyarts/autobuses/separador.png") no-repeat 80% center;
  height: 337px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 40px;
}
@-moz-keyframes autobusesInicio {
  0% {
    background: url("../images/keyarts/backautobuses2.png") no-repeat top center;
  }
  25% {
    background: url("http://placehold.it/1025x537&text=Cougar") no-repeat top center;
  }
  50% {
    background: url("http://placehold.it/1025x537&text=Tigre") no-repeat top center;
  }
  75% {
    background: url("http://placehold.it/1025x537&text=Oso") no-repeat top center;
  }
  100% {
    background: url("../images/keyarts/backautobuses2.png") no-repeat top center;
  }
}
@-webkit-keyframes autobusesInicio {
  0% {
    background: url("../images/keyarts/backautobuses2.png") no-repeat top center;
  }
  25% {
    background: url("http://placehold.it/1025x537&text=Cougar") no-repeat top center;
  }
  50% {
    background: url("http://placehold.it/1025x537&text=Tigre") no-repeat top center;
  }
  75% {
    background: url("http://placehold.it/1025x537&text=Oso") no-repeat top center;
  }
  100% {
    background: url("../images/keyarts/backautobuses2.png") no-repeat top center;
  }
}
@-o-keyframes autobusesInicio {
  0% {
    background: url("../images/keyarts/backautobuses2.png") no-repeat top center;
  }
  25% {
    background: url("http://placehold.it/1025x537&text=Cougar") no-repeat top center;
  }
  50% {
    background: url("http://placehold.it/1025x537&text=Tigre") no-repeat top center;
  }
  75% {
    background: url("http://placehold.it/1025x537&text=Oso") no-repeat top center;
  }
  100% {
    background: url("../images/keyarts/backautobuses2.png") no-repeat top center;
  }
}
@keyframes autobusesInicio {
  0% {
    background: url("../images/keyarts/backautobuses2.png") no-repeat top center;
  }
  25% {
    background: url("http://placehold.it/1025x537&text=Cougar") no-repeat top center;
  }
  50% {
    background: url("http://placehold.it/1025x537&text=Tigre") no-repeat top center;
  }
  75% {
    background: url("http://placehold.it/1025x537&text=Oso") no-repeat top center;
  }
  100% {
    background: url("../images/keyarts/backautobuses2.png") no-repeat top center;
  }
}
