transition()
	-webkit-transition arguments
	-moz-transition arguments
	-ms-transition arguments
	-o-transition arguments
	transition arguments

box-sizing()
	-webkit-box-sizing arguments
	-moz-box-sizing arguments
	box-sizing arguments

border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	-ms-border-radius arguments
	-o-border-radius arguments
	border-radius arguments

box-shadow()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	-ms-box-shadow arguments
	-o-box-shadow arguments
	box-shadow arguments

transform()
	-webkit-transform arguments
	-moz-transform arguments
	-ms-transform arguments
	-o-transform arguments
	transform arguments

animation()
	-webkit-animation arguments
	-moz-animation arguments
	-ms-animation arguments
	-o-animation arguments
	animation arguments

opacity(n)
	opacity n
	if support-for-ie
		filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')

color_azul = blue


a:hover
	text-decoration none

body
	font-size 16px
	background-color white
	font-family 'antipastoregular'
.container
	margin 0 auto
	text-align center
	max-width 1023px
	padding 0
	margin-bottom 10px
	& header.encabezado
		& .logo
			text-align center
		& nav
			width 100%
			height 50px
			background-color white
			overflow hidden
			box-sizing border-box
			position relative
			& ul.menu
				text-align center
				padding 0
				margin 0
				height 50px
				& li
					border-bottom 1px solid grey
					border-right 1px solid grey
					list-style none
					& a
						color grey
						display block
						padding 5px 10px
	& > footer
		height 50px
		background url('../images/keyarts/fondofooter.png') repeat-y
		& p
			height 50px
			line-height 50px
			color white
	& .cotizador-promociones
		margin 10px 0px
		overflow hidden
	& .nosotros
		margin 10px 0px
		overflow hidden
		text-align left
		& p
			text-align justify
		& h3
			text-transform uppercase
			font-size 20px
			font-weight bold
		& h3.azul
			color color_azul
		& ul.mision-vision-valores
			margin 20px 0px 0px
			padding 0px
			overflow hidden
			& li
				float left
				width 33%
				list-style none
				border-left 1px solid silver
				box-sizing border-box
				padding 0px 10px
				text-align center
				&:nth-child(1)
					border-left none
			& img.redonda
				border-radius 50%
	& .destinos-eventos-tours
		margin 10px 0px
		overflow hidden
		text-align left
		background-color transparent
		position relative
		top -70px
		color color_azul
		& h2
			text-transform uppercase
			font-size 44px
			margin 15px 0px 30px 10px
		& .destinos
		& .eventos
		& .tours
			& figure
				position relative
				& span.precio
					padding 5px 10px
					border-radius 15px
					box-shadow 2px 2px 3px black
					position absolute
					bottom 10px 
					right 20px
					z-index 2000
					color white
					text-shadow 1px 1px 1px blue
			& img
				width 100%
				border 2px solid aqua
			& h3
				margin 15px 0px 5px
				text-transform uppercase
				font-size 20px
				font-weight bold
			& h4
				margin 5px 0px 5px
				color aqua
				font-size 16px
				font-weight bold
		& .destino
		& .evento
		& .tour
			box-sizing border-box
	& .servicios
		margin 10px 0px
		overflow hidden
		text-align left
		background-color transparent
		position relative
		top -70px
		color color_azul
		font-family 'antipastoregular'
		& p
			text-align justify
		& h3
			text-transform uppercase
			font-size 20px
			font-weight bold
		& h3.azul
			color color_azul
		& .galeria
			position relative
			& #slider-prev .bx-prev
				background url("../images/keyarts/autobuses/anterior.png") no-repeat center center
				width 28px
				height 197px
				position absolute
				top 0px
				left 0px
				display block
				z-index 2000
			& #slider-next .bx-next
				background url("../images/keyarts/autobuses/sig.png") no-repeat center center
				width 28px
				height 197px
				position absolute
				top 0px
				right 0px
				display block
				z-index 2000
		& .logistica
			margin-left 10px
			& h4
				margin 5px 0px
				line-height 14px
				font-size 16px
				color aqua
			& p
				line-height 14px
	& .cotizador
		margin 10px 0px
		overflow hidden
		text-align left
		background-color transparent
		position relative
		top -70px
		color color_azul
		font-family 'antipastoregular'
	& .contacto
		margin 10px 0px
		overflow hidden
		background-color transparent
		position relative
		top -70px
		color color_azul
		font-family 'antipastoregular'
		& h3
			text-transform uppercase
			font-size 20px
			font-weight bold
			&.centrado
				text-align center
		& iframe
			width 100%
			height 400px
		& form
			text-align left
		& .mapa
			margin-bottom 10px
	& article.autobuses
		margin 10px 0px
		overflow hidden
		text-align left
		background-color transparent
		position relative
		top -70px
		color color_azul
		font-family 'antipastoregular'
		& .lista
			overflow hidden
			& .item
				display inline-block
				vertical-align top
				width 329px
				height 200px
				margin 0px 5px 20px 5px
				position relative
				overflow hidden
				cursor pointer
				& img
					width 100%
					height 200px
				& figure
					position absolute
					top 0px
					left 0px
				& .descripcion-autobus
					position absolute
					bottom -150px
					left 0px
					height 150px
					background rgb(0,37,67)
					transition all .5s ease-out
					& h3
						position absolute
						left -5px
						top -45px
						background rgba(11,47,75,0.8)
						color white
						box-sizing border-box
						padding 3px 10px
						font-size 18px
					& p
						color white
						box-sizing border-box
						padding 0px 10px
			& .item:hover .descripcion-autobus
				bottom -10px
	& article.autobus
		margin 10px 0px
		overflow hidden
		text-align left
		background-color transparent
		position relative
		top -70px
		color color_azul
		font-family 'antipastoregular'
		& .controlesAutbuses
			width 100%
			position relative
			margin-bottom 10px
			overflow hidden
			& span
				display block
				cursor pointer
				height 54px
				width 54px
			& .control-anterior
				position absolute 
				top 0px
				left 0px
				background url("../images/keyarts/autobuses/flecha1.png") no-repeat center center
			& .control-siguiente
				background url("../images/keyarts/autobuses/flecha2.png") no-repeat top right
				position absolute
				top 0px
				right 0px
				padding-right 54px
				background-color rgb(11,80,140)
				width 230px
				color white
				line-height 54px
				font-size 18px
				box-sizing border-box
				padding-left 10px
			& h2
				text-align center
				text-transform uppercase
				margin 10px 0px
		& .galeria
			position relative
			& #slider-prev .bx-prev
				background url("../images/keyarts/autobuses/anterior.png") no-repeat center center
				width 28px
				height 197px
				position absolute
				top 0px
				left 0px
				display block
				z-index 2000
			& #slider-next .bx-next
				background url("../images/keyarts/autobuses/sig.png") no-repeat center center
				width 28px
				height 197px
				position absolute
				top 0px
				right 0px
				display block
				z-index 2000
		& .logos
			margin 30px 0px 10px
			text-align center
			& img
				display inline-block
				vertical-align top
		& .detalles-asientos
			margin-top 20px
			& ul 
				padding 0px
				margin 0px
			& div
				width 49%
				& img
					width 100%
			& .detalles
				background url("../images/keyarts/autobuses/separador.png") no-repeat 80% center
				height 337px
				box-sizing border-box
				padding-left 40px

@keyframes autobusesInicio
	0%
		background url("../images/keyarts/backautobuses2.png") no-repeat top center
	25%
		background url(http://placehold.it/1025x537&text=Cougar) no-repeat top center
	50%
		background url(http://placehold.it/1025x537&text=Tigre) no-repeat top center 
	75%
		background url(http://placehold.it/1025x537&text=Oso) no-repeat top center
	100%
		background url("../images/keyarts/backautobuses2.png") no-repeat top center
