a:hover {
  text-decoration: none;
}
body {
  font-size: 16px;
  background-color: #fff;
  font-family: 'antipastoregular';
}
.container {
  margin: 0 auto;
  text-align: center;
  max-width: 1023px;
  padding: 0;
  margin-bottom: 10px;
}
.container header.encabezado .logo {
  text-align: center;
}
.container header.encabezado nav {
  width: 100%;
  height: 50px;
  background-color: #fff;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.container header.encabezado nav ul.menu {
  text-align: center;
  padding: 0;
  margin: 0;
  height: 50px;
}
.container header.encabezado nav ul.menu li {
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
  list-style: none;
}
.container header.encabezado nav ul.menu li a {
  color: #808080;
  display: block;
  padding: 5px 10px;
  height: 50px;
  line-height: 50px;
}
.container > footer {
  height: 50px;
  background: url("images/keyarts/fondofooter.png") repeat-y;
}
.container > footer p {
  height: 50px;
  line-height: 50px;
  color: #fff;
}

.container nav{
    margin-bottom: 20px;
}

.slidePrincipal .galeria{
    width: 630px;
    margin: 0 auto;
}